*{
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

body{
    background: linear-gradient(to bottom, rgba(92,92,92,1) 18%, rgba(94,92,91,1) 19%, rgba(196,112,22,1) 73%, rgba(196,112,22,1) 96%);    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-repeat: no-repeat;
    background-size: auto;
}

.header-nav{
    display: flex;
    width: 100%;
    height: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-brand{
    background-color: black;
    display: flex;
    width: 200px;
    margin-left: 10px;
    border-top-left-radius:-15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.header-brand img{
    width: 50px;
    height: 50px;
    margin: auto;
    padding: auto;
    border-radius: 10px;
}

.header-brand p{
    color: whitesmoke;
    margin: auto;
    padding: auto;
}

.active{
    color: white;
    font-weight: bolder;
    border-bottom: 2px solid white;
}

.nav-list{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 100%;
    margin-right: 30px;
    flex-wrap: wrap;
}

.nav-list li{
    margin: 15px;
}

.nav-list li a{
    color: whitesmoke;
    text-decoration: none;
}


main{

    display: flex;
    flex-direction: column;
    height: 561px;
    align-items: center;
}

.hijo{
    width: 200px;
    height: 200px;
    background-color: tomato;
    border: 2px solid black;
}