*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?t7cscl'),url('fonts/icomoon.eot?c4b5u3');
    src:  
        url('fonts/icomoon.eot?t7cscl#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?t7cscl') format('truetype'),
        url('../fonts/icomoon.woff?t7cscl') format('woff'),
        url('../fonts/icomoon.svg?t7cscl#icomoon') format('svg'),
        url('../fonts/fonts-redes/fonts/icomoon.eot?c4b5u3#iefix') format('embedded-opentype'),
        url('../fonts/fonts-redes/fonts/icomoon.ttf?c4b5u3') format('truetype'),
        url('../fonts/fonts-redes/fonts/icomoon.woff?c4b5u3') format('woff'),
        url('../fonts/fonts-redes/fonts/icomoon.svg?c4b5u3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    }

    [class^="icon-"], [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-menu:before {
        content: "\e9bd";
    }

    .icon-linkedin:before {
        content: "\e900";
    }
    .icon-github:before {
        content: "\e901";
    }
    .icon-twitter:before {
        content: "\e902";
    }
    .icon-whatsapp:before {
        content: "\e903";
    }
    .icon-instagram:before {
        content: "\e904";
    }
    .icon-facebook:before {
        content: "\e905";
    }
    .icon-mail:before {
        content: "\e906";
    }
    .icon-mail1:before {
        content: "\e907";
    }

li{
    list-style: none;
}

body{
    /*background: linear-gradient(to bottom, rgb(70, 69, 69) 18%, rgb(73, 71, 70) 19%, rgba(196,112,22,1) 73%, rgba(196,112,22,1) 83%);    */
    background-image: url("../img/d.jpg");
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.burger-menu{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
    display: none;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 5px;
}
.header-nav{
    display: flex;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-brand{
    background-color: black;
    display: flex;
    width: 200px;
    margin-left: 10px;
    border-top-left-radius:-15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header-brand img{
    width: 50px;
    height: 50px;
    margin: auto;
    padding: auto;
    border-radius: 10px;
}

.header-brand p{
    color: whitesmoke;
    margin: auto;
    padding: auto;
    font-size: 1.2em;
}

.active{
    color: white;
    border-bottom: 2px solid white;
}

.nav-list{
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 1.2em;
    margin-right: 1.2em;
}

.nav-list li{
    margin: 15px;
}

.nav-list li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.3em;
}

.main-section{
    display:flex;
    flex-wrap: wrap;
    background-color: rgba(187, 187, 187, 0.76);
    max-width: 85%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: -4px 10px 36px 22px rgba(0,0,0,0.6);
}

.main-section-presentation{
    width:auto;
    height: auto;
    text-align: justify;
    align-content: center;
    line-height: 25px;

}

.main-section-profile{
    display: grid;
    width: 50%;
    height:auto;
    grid-template-rows: 1fr 1fr;
}

.main-section-photo img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 60px;
    margin-right: 60px;    
}

.main-section-redes{
    display: flex;
    width: 100%;

}

.main-section-redes ul{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;

}

.main-section-redes img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.main-section-redes a{
    color: black;
    text-decoration: none;
}

/* _______________proyectos________________ */

.proyectos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(187, 187, 187, 0.76);
    max-width: 85%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: -4px 10px 36px 22px rgba(0,0,0,0.6);
    align-items: center;
}
.card-proyecto{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(217, 235, 227, 0.781);
    width: 85%;
    min-height: 18em;
    height: auto;
    margin: 3%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.card-proyecto-content{
    display: grid;
    height: auto;
    width: 49%;
    padding: 3%;

}

.card-proyecto-content span{
    font-size: 1.1em;

}

.card-proyecto-img{
    background-color: rgba(30, 241, 153, 0.781);
    height: auto;
    width: 45%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.card-proyecto-img img{
    width: 100%;
    height: 100%;

    border-radius: 50px;
}




@media screen and (min-width: 769px){

    .main-section{
        display: flex;
        flex-wrap: nowrap;
        height: 560px;
        
    }
    .main-section-presentation{
        width: 46%;
        padding: 4%;
        font-size: .90em;
    }


    .main-section-profile{
        width: 50%;
    }

    .main-section-photo{
        display: flex;
        justify-content: center;
        align-items: center;
    }


.main-section-profile{
    display: grid;
    width: 50%;
    height:auto;
    grid-template-rows: 1fr 1fr;
}

.main-section-photo img{
    min-width: 250px;
    min-height: 250px;
    border-radius: 150px;
    margin-top: 60px ;
}

    .main-section-presentation > h1:nth-child(12){
        text-align: center;
    }
}

@media screen and (max-width:768px) and (min-width:480px){

    .header-brand{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .header-brand img{
        
        margin-right: 10px;
    }

    .header-brand p{
        
        margin-left: 10px;
    }

    .nav-list{
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-right: 0;
    }

    .nav-list li a{
        font-size: .9em;
    }

    .main-section-presentation{
        width: auto;
        padding: 20px;
        font-size: .7em;
    }

    .main-section-profile{
        width: 100%;
    }

    .main-section-profile img{
        display: flex;
        margin: auto;
        text-align: center;
    }

    .main-section-presentation > h1:nth-child(12){
        text-align: center;
    }
}

@media screen and (max-width:480px) {

    .burger-menu{
        display: flex;
        z-index: 1;
    }

    .header-brand{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .header-brand img{
        
        margin-right: 10px;
    }

    .header-brand p{
        
        margin-left: 10px;
    }

    .nav-list{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(60, 117, 119, 0.575);
        width: 100vw;
        bottom: 0;
        margin-bottom: .5em;
        flex-wrap: wrap;
        flex-shrink: 0;
        position: fixed;
        margin: 0;
        left: -100vw;
        transition: 0.3s;
    }

    .nav-list li{
        width: 100%;
        text-align: center;
        font-size: 1.8em;
    }

    .nav-list.desplegado{
        left: 0;
    }

    .main-section-presentation{
        width: 460px;
        padding: 20px;
        font-size: .7em;
    }

    .main-section-profile{
        width: 100%;
        margin: 0;
        padding-top: 32px;
    }

    .main-section-presentation > h1:nth-child(12){
        text-align: center;
    }

    .main-section-profile {
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }

    .main-section-profile img{
        margin: auto;
        text-align: center;
    }

    .main-section-redes ul{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
    }
}