*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

body{
    background: linear-gradient(to bottom, rgb(70, 69, 69) 18%, rgb(73, 71, 70) 19%, rgba(196,112,22,1) 73%, rgba(196,112,22,1) 96%);    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-nav{
    display: flex;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-brand{
    background-color: black;
    display: flex;
    width: 200px;
    margin-left: 10px;
    border-top-left-radius:-15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header-brand img{
    width: 50px;
    height: 50px;
    margin: auto;
    padding: auto;
    border-radius: 10px;
}

.header-brand p{
    color: whitesmoke;
    margin: auto;
    padding: auto;
}

.active{
    color: white;
    font-weight: bolder;
    border-bottom: 2px solid white;
}

.nav-list{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 100%;
    flex-wrap: wrap;
}

.nav-list li{
    margin: 15px;
}

.nav-list li a{
    color: whitesmoke;
    text-decoration: none;
}


.main-section{
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(243, 243, 243);
    max-width: 87%;
    min-height: 593px;
    margin: auto;
    margin-top: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: -4px 10px 36px 22px rgba(0,0,0,0.4);
    
}

.main-section-presentation{
    width:auto;
    text-align: justify;
    align-content: center;
    line-height: 25px;
    flex-shrink: 1;
}

.main-section-profile{
    display: grid;
    width: 50%;
    height:auto;


    grid-template-rows: 1fr 1fr;
}

.main-section-photo img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 60px;
    margin-right: 60px;    
}

.main-section-redes{
    display: flex;
    grid-row-start: 2;
    width: 100%;
}

.main-section-redes ul{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;

}

.main-section-redes img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.main-section-redes a{
    color: black;
    text-decoration: none;
}

@media screen and (max-width:1024px){
    .main-section-presentation{
        width: 50%;
    }
}

@media screen and (max-width:768px){
    .main-section-presentation{
        background-color: coral;
        width: 45%;
        padding: 10px;
    }

    .main-section-profile{
        background-color: rgb(36, 201, 187);
    }
}

@media screen and (max-width:480px){
    .header-brand{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .header-brand img{
        
        margin-right: 10px;
    }

    .header-brand p{
        
        margin-left: 10px;
    }

    .main-section-presentation{
        width: 460px;
        padding: 20px;
        
    }

    .main-section-profile{
        width: 100%;
        margin: 0;
        padding-top: 32px;
    }

    .main-section-presentation > h1:nth-child(12){
        text-align: center;
    }

    .main-section-profile {
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }

    .main-section-profile img{
        margin: auto;
        text-align: center;
    }

    .main-section-redes ul{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
    }
}